* {
    margin: 0;
    padding: 0;
}

.but_menu {
    background-color: #222222;
    height: 75px;
    display: flex;
    justify-content: space-around;
}

.left_menu {
    display: flex;
    justify-content: space-around;
    margin: auto 0;
    width: 150px;
}

.right_menu {
    display: flex;
    justify-content: space-around;
    margin: auto 0;
    width: 150px;
}

.search {
    margin-top: 8px;
}

.menu_click {
    margin-top: 4px;
}

.welcome_bunner {
    background-color: #F1E4E6;
    height: 764px;
    display: flex;
    justify-content: space-around;
}

.bn_text {
    color: #222222;
    font-family: 'Lato';
    font-style: normal;
    flex-direction: column;
    margin: auto;
}

.text_rectangle {
    height: 93px;
    width: 12px;
    background-color: #F16D7F;
    margin: auto;

}

.bunner_text {
    display: flex;
    margin-right: 330px;
}

.FASHION {
    color: #e75569;
}

.sales {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.offer_public {
    display: flex;
    flex-direction: column;

}

.accesories {
    margin-top: 30px;
}

.offer {
    display: flex;
    justify-content: space-around;
    height: 470px;
}

.sale1 {
    position: relative;

}

.sale1_text1 {
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 105px 103px;
}

.sale1_text2 {
    color: #e75569;
    font-size: 24px;
}

.sale2 {
    position: relative;

}

.sale2_text1 {
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 105px 125px 105px 520px;
}

.sale2_text2 {
    color: #e75569;
    font-size: 24px;
}

.sale3 {
    position: relative;

}

.sale3_text1 {
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 105px 125px 105px 903px;
}

.sale3_text2 {
    color: #e75569;
    font-size: 24px;
}

.accesories {
    position: relative;

}

.sale4_text1 {
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 440px 500px;
}

.sale4_text2 {
    color: #e75569;
    font-size: 24px;
}